@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-noto:
    var(--font-noto), ui-sans-serif, system-ui, sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";

  --color-tg-blue: #3aa3e0;

  --container-columns-8-1280: 448px;
  --container-columns-12-1280: 680px;
  --container-columns-6-1920: 592px;
  --container-columns-12-1920: 1280px;
}

@layer base {
  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }
}
